body {
    background: linear-gradient(skyblue, deeppink);
    background-attachment: fixed;
}

.box {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    font-size: 8em;
    text-align: center;
    
}

#box1 {
    background-color: lightcoral;
       background-image: url('fly.gif');
    background-size: cover;
    background-position: center;
    
}
#box2 {
    background-color: lightseagreen;
       background-image: url('bird.gif');
    background-size: cover;
    background-position: center;
}
#box3 {
    background-color: lightgoldenrodyellow;
}
#box4 {
    background-color: lightpink;
}
.container {
    display: flex;
    gap: 20px;
}
